
- content_for(:title, 'Bulk LO Update Matching Report')
- content_for(:page_name, 'Bulk LO Update Matching Report')
- content_for(:page_class, 'misc')

/ Header
.header-block
  .row
    .col-sm-1
    .col-sm-10
      %h1.h3.page-title.text-center
        %strong='Maintenance'
      %h2.h1.page-title.text-center
        %strong='Bulk LO Update Report'
    .col-sm-1

.row
  .col-sm-1
  .col-sm-10
    .block.block-alt-style.full
      .block-title.text-center
        %h3
          ='Learning Outcomes Updated Matching Report'
      .block-content-full.rounded-title-container
        %table.titled-table.table.table-bordered.table-condensed.remove-margin.manual-highlight.manual-break
          %thead.table-title
            %tr
              %th{colspan: 12}
                = @match_subject.present? ? "Processed Only #{@match_subject.name}" : "Processing All Subjects"
            %tr
              %th= 'New Course'
              %th= 'New Grade'
              %th= 'New Marking Period'
              %th= 'New LO Code'
              %th= 'New Description'
              %th= 'Match'
              %th= 'Old Subject'
              %th= 'Old Marking Period'
              %th= 'Old LO Code'
              %th= 'Old Description'
          %tbody.tbody-body
            - prior_new_rec_num = 0
            - prior_matched_rec_id = -1
            - highlight_class = ''
            - @pairs_filtered.each_with_index do |set, ix|
              - rx = set[0]
              - ry = set[1]
              - match = set[2]
              - # set up alternate old record highlighting
              - if prior_matched_rec_id != ry[:matching_rec_id]
                - prior_matched_rec_id = ry[:matching_rec_id]
                - highlight_class = (highlight_class == 'on' ? '' : 'on')
                - break_class = 'break'
              - else
                - break_class = ''
              - pair_subject_id = rx[SubjectOutcomesHelper::COL_SUBJECT_ID]
              - pair_subject_id = ry[SubjectOutcomesHelper::COL_SUBJECT_ID] if !pair_subject_id.present?
              - pair_subject_id_i = Integer(pair_subject_id) rescue -1

              - prior_old_rec_num = match[SubjectOutcomesHelper::COL_DB_ID]
              - prior_old_code = rx[SubjectOutcomesHelper::DB_OUTCOME_CODE]
              - new_rec_id = ry[SubjectOutcomesHelper::COL_REC_ID]
              - lo_name = rx[:lo_code].present? ? rx[:lo_code] : (ry[:lo_code].present? ? ry[:lo_code] : ry[SubjectOutcomesHelper::COL_REC_ID])
              - if new_rec_id.present?
                %tr{ class: "#{highlight_class} #{break_class}", data: {displayed_pair: "pair_#{pair_subject_id}_#{new_rec_id}_#{prior_old_rec_num}"}, title: match[:action_desc]}
                  - deact_class = (rx[:active] == false ? 'deactivated ' : '')
                  - error_class = (match[:error].present? ? 'ui-error' : '')
                  %td.new_course=ry[SubjectOutcomesHelper::COL_COURSE]
                  %td.new_grade=ry[SubjectOutcomesHelper::COL_GRADE]
                  %td.new_mp=ry[SubjectOutcomesHelper::COL_MP_BITMAP]
                  %td.new_lo_code=ry[SubjectOutcomesHelper::COL_OUTCOME_CODE]
                  %td.new_lo_desc=ry[SubjectOutcomesHelper::COL_OUTCOME_NAME]
                  %td.text-center
                    - if match[:error].present?
                      %span{class: "#{error_class}"}=match[:error]
                  %td{class: "old_subject #{deact_class}"}=rx[:subject_name]
                  %td{class: "old_mp #{deact_class}"}=rx[:mp]
                  %td{class: "old_lo_code #{deact_class}"}=rx[:lo_code]
                  %td{class: "old_lo_desc #{deact_class}"}=rx[:desc]
.col-sm-1



