
- content_for(:title, 'Match Old LOs to New LOs')
- content_for(:page_name, 'Match Old LOs to New LOs')
- content_for(:page_class, 'misc')

/ Header
.header-block
  .row
    .col-sm-1
    .col-sm-10
      %h1.h3.page-title.text-center
        %strong='Maintenance'
      %h2.h1.page-title.text-center
        %strong='Match Old LOs to New LOs'
    .col-sm-1

- if !@school.acronym == 'MOD'
  .row 'This is only allowed for the Model School'
- if !can?(:switch, School)
  .row 'This is only allowed for users who can see multiple schools'
- if !can?(:upload_lo_file, SubjectOutcome)
  .row 'You are not allowed to Bulk Upload Learning Outcomes'
- if !@school.has_flag?(School::GRADE_IN_SUBJECT_NAME)
  .row 'This school is not configured for Bulk Uploading Learning Outcomes'
.row{class: (@school.acronym == 'MOD' && can?(:switch, School) && can?(:upload_lo_file, SubjectOutcome) && @school.has_flag?(School::GRADE_IN_SUBJECT_NAME) ? '' : 'display-none')}
  .col-sm-1
  .col-sm-10
    .block.block-alt-style.full
      .block-title.text-center
        %h3
          ='Learning Outcomes Matching Process'
      .block-content-full.rounded-title-container
        = form_tag(lo_matching_subject_outcomes_path) do

          - valid_update = true
          %table.titled-table.table.table-bordered.table-condensed.remove-margin.manual-highlight.manual-break
            %thead.table-title
              %tr
                %th{colspan: 12}
                  = @match_subject.present? ? "Processing Only #{@match_subject.name}" : (@process_by_subject.present? ? "Processing #{@process_by_subject.name} of All Subjects" : "Processing All Subjects")
                  = # " - Matching Level: "
                  = # select_tag 'match_level', options_for_select(SubjectOutcomesHelper::MATCH_LEVEL_OPTIONS, @match_level)
                  %input{type: 'hidden', name: "school_id", value: @school.id}
                  - if @match_subject.present?
                    %input{type: 'hidden', name: "match_subject_id", value: @match_subject.id}
                  - if @process_by_subject.present?
                    %input{type: 'hidden', name: "process_subject_id", value: @process_by_subject.id}
              %tr
                %th= 'New Course'
                %th= 'New Grade'
                %th= 'New Marking Period'
                %th= 'New LO Code'
                %th= 'New Description'
                %th= 'Match'
                %th= 'Old Subject'
                %th= 'Old Marking Period'
                %th= 'Old LO Code'
                %th= 'Old Description'
            %tbody.tbody-body
              - prior_new_rec_num = 0
              - prior_matched_rec_id = -1
              - prior_matched_lo_code = ''
              - highlight_class = ''
              - @pairs_filtered.each_with_index do |set, ix|
                - rx = set[0]
                - ry = set[1]
                - match = set[2]
                - # set up alternate old record highlighting
                - if prior_matched_lo_code != match[:lo_code]
                  - prior_matched_lo_code = match[:lo_code]
                  - highlight_class = (highlight_class == 'on' ? '' : 'on')
                  - break_class = 'break'
                - else
                  - break_class = ''
                - if prior_matched_rec_id != ry[:matching_rec_id]
                  - prior_matched_rec_id = ry[:matching_rec_id]
                - pair_subject_id = rx[SubjectOutcomesHelper::COL_SUBJECT_ID]
                - pair_subject_id = ry[SubjectOutcomesHelper::COL_SUBJECT_ID] if !pair_subject_id.present?
                - pair_subject_id_i = Integer(pair_subject_id) rescue -1

                - hide_subject_class = @process_by_subject.present? ? (@process_by_subject.id != pair_subject_id_i ? 'display-none' : '') : ''
                - prior_old_rec_num = match[SubjectOutcomesHelper::COL_DB_ID]
                - prior_old_code = rx[SubjectOutcomesHelper::DB_OUTCOME_CODE]
                - new_rec_id = ry[SubjectOutcomesHelper::COL_REC_ID]
                - lo_name = rx[:lo_code].present? ? rx[:lo_code] : (ry[:lo_code].present? ? ry[:lo_code] : ry[SubjectOutcomesHelper::COL_REC_ID])
                - action = rx[:action].present? ? rx[:action].to_s : '??'
                - if hide_subject_class.blank?
                  %tr{ class: "#{highlight_class} #{break_class}", data: {displayed_pair: "pair_#{pair_subject_id}_#{new_rec_id}_#{prior_old_rec_num}"}, title: match[:action_desc]}
                    - deact_class = (rx[:active] == false ? 'deactivated ' : '')
                    - error_class = (match[:error].present? ? 'ui-error' : '')
                    %td.new_course=ry[SubjectOutcomesHelper::COL_COURSE]
                    %td.new_grade=ry[SubjectOutcomesHelper::COL_GRADE]
                    %td.new_mp=ry[SubjectOutcomesHelper::COL_MP_BITMAP]
                    %td.new_lo_code=ry[SubjectOutcomesHelper::COL_OUTCOME_CODE]
                    %td.new_lo_desc=ry[SubjectOutcomesHelper::COL_OUTCOME_NAME]
                    %td.text-center
                      - is_selected = match[:selected]
                      %label{for: "selections_#{new_rec_id}_#{prior_old_rec_num}"}=action
                      = radio_button_tag "selections[#{prior_matched_rec_id}]", "#{prior_old_rec_num}", is_selected, id: "selections_#{new_rec_id}_#{prior_old_rec_num}"
                      - if match[:error].present?
                        %span{class: "#{error_class}"}=match[:error]
                    %td{class: "old_subject #{deact_class}"}=rx[:subject_name]
                    %td{class: "old_mp match-field-#{match[:mp_match]} #{deact_class}"}=rx[:mp]
                    %td{class: "old_lo_code similar-field-#{match[:code_match]}-2 #{deact_class}"}=rx[:lo_code]
                    %td{class: "old_lo_desc similar-field-#{match[:desc_match]}-4 #{deact_class}"}=rx[:desc]
          .row
            - @records.each_with_index do |rec, ix|
              - pair_subject_id = rec[SubjectOutcomesHelper::COL_SUBJECT_ID]
              - new_rec_id = rec[SubjectOutcomesHelper::COL_REC_ID]
              %span{data: {hidden_pair: "pair_#{pair_subject_id}_#{}_#{new_rec_id}"}}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::PARAM_ACTION}]]", value: rec[SubjectOutcomesHelper::PARAM_ACTION]}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_REC_ID}]", value: new_rec_id}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_SUBJECT_ID}]", value: pair_subject_id}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_COURSE}]", value: rec[SubjectOutcomesHelper::COL_COURSE]}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_GRADE}]", value: rec[SubjectOutcomesHelper::COL_GRADE]}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_MP_BITMAP}]", value: rec[SubjectOutcomesHelper::COL_MP_BITMAP]}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_OUTCOME_CODE}]", value: rec[SubjectOutcomesHelper::COL_OUTCOME_CODE]}
                %input{type: 'hidden', name: "r[#{ix}][#{SubjectOutcomesHelper::COL_OUTCOME_NAME}]", value: rec[SubjectOutcomesHelper::COL_OUTCOME_NAME]}
          .row.text-center
            .btn.btn.btn-default
              %a#upload-again{href: upload_lo_file_subject_outcomes_path, title: 'Upload Learning Outcomes'}= "UPLOAD"
            - if valid_update && !@allow_save_all
              %button#save_matches.btn.btn-primary.cancel{type: "submit", title: 'Set Matches', name: 'submit_action', value: 'set_matches'}='Save Matches'
            - if @allow_save_all
              %button#save_all.btn.btn-primary.cancel{type: "submit", title: 'Save All LOs', name: 'submit_action', value: 'save_all'}='SAVE ALL'
            - if @process_by_subject.present?
              %button#skip_subject.btn.btn-primary.cancel{type: "submit", title: 'Skip This Subject', name: 'submit_action', value: 'skip'}='Skip'
.col-sm-1



