
- content_for(:title, 'Bulk LO Update Matching Report')
- content_for(:page_name, 'Bulk LO Update Matching Report')
- content_for(:page_class, 'misc')

/ Header
.header-block
  .row
    .col-sm-1
    .col-sm-10
      %h1.h3.page-title.text-center
        %strong='Maintenance'
      %h2.h1.page-title.text-center
        %strong='Bulk LO Update Report'
    .col-sm-1

.row
  .col-sm-1
  .col-sm-10
    .block.block-alt-style.full
      .block-title.text-center
        %h3
          ='Learning Outcomes Updated Matching Report'
      .block-content-full.rounded-title-container
        %table.titled-table.table.table-bordered.table-condensed.remove-margin.manual-highlight.manual-break
          %thead.table-title
            %tr
              %th= 'Subject'
              %th= 'Updated Marking Period'
              %th= 'Updated LO Code'
              %th= 'Updated Description'
          %tbody.tbody-body
            - @old_los_to_present.each do |old_rec|
              - subject_id = old_rec[SubjectOutcomesHelper::COL_SUBJECT_ID]
              - subject_id_i = Integer(subject_id) rescue -1
              - hide_subject_class = @present_by_subject.present? ? (@present_by_subject.id != subject_id_i ? 'display-none' : '') : ''
              - if hide_subject_class.blank?
                %tr.break
                  - deact_class = ( (old_rec[:active] == false) ? 'deactivated ' : '')
                  - error_class = (old_rec[:error].present? ? 'ui-error' : '')
                  %td.subject_name=old_rec[:subject_name]
                  %td{class: "mp #{deact_class}"}=old_rec[:mp]
                  %td{class: "lo_code #{deact_class}"}=old_rec[:lo_code]
                  %td{class: "lo_desc #{deact_class}"}=old_rec[:desc]
        - if @prior_subject.present?
          - # this is not the first page, so show totals so far
          .row.text-center
            %span#prior_subj=@prior_subject.name
            %span=" counts: Errors - "
            %span#count_errors=@count_errors
            %span=", Updates - "
            %span#count_updates=@count_updates
            %span=", Adds - "
            %span#count_adds=@count_adds
            %span=", Deactivates - "
            %span#count_deactivates=@count_deactivates
        .row.text-center
          %span="Grand total counts: Errors - "
          %span#total_errors=@total_errors
          %span=", Updates - "
          %span#total_updates=@total_updates
          %span=", Adds - "
          %span#total_adds=@total_adds
          %span=", Deactivates - "
          %span#total_deactivates=@total_deactivates
.col-sm-1



