
- content_for(:title, 'Match Old LOs to New LOs')
- content_for(:page_name, 'Match Old LOs to New LOs')
- content_for(:page_class, 'misc')

/ Header
.header-block
  .row
    .col-sm-1
    .col-sm-10
      %h1.h3.page-title.text-center
        %strong='Maintenance'
      %h2.h1.page-title.text-center
        %strong='Match Old LOs to New LOs'
    .col-sm-1

.row
  .col-sm-1
  .col-sm-10
    .block.block-alt-style.full
      .block-title.text-center
        %h3
          ='Learning Outcomes Matching Process'
      .block-content-full.rounded-title-container
        = form_tag(lo_matching_subject_outcomes_path) do

          %table.titled-table.table.table-bordered.table-condensed.remove-margin.manual-highlight.manual-break
            %thead.table-title
              %tr
                %th{colspan: 12}
                  = @match_subject.present? ? "#{@match_subject.name} - Matching Level: " : "All Subjects - Matching Level: "
                  = select_tag 'match_level', options_for_select(SubjectOutcomesHelper::MATCH_LEVEL_OPTIONS, @match_level)
                  %input{type: 'hidden', name: "school_id", value: @school.id}
                  %input{type: 'hidden', name: "subject_id", value: @subject_id}
              %tr
                %th= 'Old Subject'
                %th= 'Old Grade'
                %th= 'Old Marking Period'
                %th= 'Old LO Code'
                %th= 'Old Description'
                %th= 'Match'
                %th= 'New Course'
                %th= 'New Grade'
                %th= 'New Marking Period'
                %th= 'New LO Code'
                %th= 'New Description'
            %tbody.tbody-body
              - prior_old_id = 0
              - highlight_class = ''
              - @pairs_filtered.each_with_index do |set, ix|
                - rx = set[0]
                - ry = set[1]
                - match = set[2]
                - # set up alternate old record highlighting
                - if prior_old_id == 0 
                  - prior_old_id = rx[SubjectOutcomesHelper::COL_DB_ID]
                - if prior_old_id != rx[SubjectOutcomesHelper::COL_DB_ID]
                  - highlight_class = (highlight_class == 'on' ? '' : 'on')
                  - break_class = 'break'
                - else
                  - break_class = ''
                - prior_old_id = rx[SubjectOutcomesHelper::COL_DB_ID]
                %tr{ class: "#{highlight_class} #{break_class}"}
                  - deact_class = (rx[:active] == false ? 'deactivated ' : '')
                  - # error_class = (rx[SubjectOutcomesHelper::PARAM_ACTION] == 'Mismatch' || ry[SubjectOutcomesHelper::PARAM_ACTION] == 'Mismatch') ? 'ui-error' : ''
                  - error_class = (![''].include?(rx[SubjectOutcomesHelper::PARAM_ACTION]) || !['', 'Add'].include?(ry[SubjectOutcomesHelper::PARAM_ACTION])) ? 'ui-error' : ''
                  %td{class: "#{deact_class}"}=rx[:subject_name]
                  %td{class: "#{deact_class}"}=rx[:grade]
                  %td{class: "#{deact_class}"}=rx[:mp]
                  %td{class: "#{deact_class}"}=rx[:lo_code]
                  %td{class: "#{deact_class}"}=rx[:desc]
                  %td.text-center{class: "#{error_class}"}
                    = ('*' * match[:total_match])
                    = "#{rx[SubjectOutcomesHelper::PARAM_ACTION]} / #{ry[SubjectOutcomesHelper::PARAM_ACTION]}"
                    %input{type: 'hidden', name: "pair[#{ix}][o][#{SubjectOutcomesHelper::PARAM_ACTION}]", value: rx[SubjectOutcomesHelper::PARAM_ACTION]}
                    %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::PARAM_ACTION}]", value: ry[SubjectOutcomesHelper::PARAM_ACTION]}
                    - if rx.length > 0
                      %input{type: 'hidden', name: "pair[#{ix}][o][rec_id]", value: rx[SubjectOutcomesHelper::COL_DB_ID]}
                    - if ry.length > 0
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_REC_ID}]", value: ry[SubjectOutcomesHelper::COL_REC_ID]}
                    - if ry.length > 0 && ry[:unique] == true
                      = '->'
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_COURSE_ID}]", value: ry[SubjectOutcomesHelper::COL_COURSE_ID]}
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_COURSE}]", value: ry[SubjectOutcomesHelper::COL_COURSE]}
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_GRADE}]", value: ry[SubjectOutcomesHelper::COL_GRADE]}
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_MP_BITMAP}]", value: ry[SubjectOutcomesHelper::COL_MP_BITMAP]}
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_OUTCOME_CODE}]", value: ry[SubjectOutcomesHelper::COL_OUTCOME_CODE]}
                      %input{type: 'hidden', name: "pair[#{ix}][n][#{SubjectOutcomesHelper::COL_OUTCOME_NAME}]", value: ry[SubjectOutcomesHelper::COL_OUTCOME_NAME]}
                  %td{class: "match-field-#{match[:course_match]}"}=ry[SubjectOutcomesHelper::COL_COURSE]
                  %td{class: "match-field-#{match[:grade_match]}"}=ry[SubjectOutcomesHelper::COL_GRADE]
                  %td{class: "match-field-#{match[:mp_match]}"}=ry[SubjectOutcomesHelper::COL_MP_BITMAP]
                  %td{class: "similar-field-#{match[:code_match]}"}=ry[SubjectOutcomesHelper::COL_OUTCOME_CODE]
                  %td{class: "similar-field-#{match[:desc_match]}"}=ry[SubjectOutcomesHelper::COL_OUTCOME_NAME]
          .row
            %fieldset
              .col-sm-5
              %label.col-sm-2.control-label='Old LO Count:'
              %span#old-lo-count.col-sm-2
                = @old_records_counts
              .col-sm-3
            %fieldset
              .col-sm-5
              %label.col-sm-2.control-label='New LO Count:'
              %span#new-lo-count.col-sm-2
                = @records.count
              .col-sm-3
            %fieldset
              .col-sm-5
              %label.col-sm-2.control-label='Match Count:'
              %span#match-count.col-sm-2
                = @match_count
              .col-sm-3
            %fieldset
              .col-sm-5
              %label.col-sm-2.control-label='Mismatch Count:'
              %span#mismatch-count.col-sm-2
                = @mismatch_count
              .col-sm-3
            %fieldset
              .col-sm-5
              %label.col-sm-2.control-label='Add Count:'
              %span#add-count.col-sm-2
                = @add_count
              .col-sm-3
          .row.text-center
            .btn.btn.btn-default
              %a#upload-again{href: upload_lo_file_subject_outcomes_path, data: {method: :post}, title: 'Upload Learning Outcomes'}= "UPLOAD"
            %button#save.btn.btn-primary.cancel{type: "submit", title: 'Set Matches', name: 'submit_action', value: 'match'}='Set Matches'
            - #- if @pairs_filtered.count == @add_count + @match_count > 0
            %button#save.btn.btn-primary.cancel{type: "submit", title: 'Save All LOs', name: 'submit_action', value: 'save_all'}='SAVE ALL'
.col-sm-1



