
.page-form.alternate-highlight
  - if @errors[:base] && @errors[:base] != []
    %div.ui-error.text-center=@errors[:base]
  - if current_user.system_administrator?
    %fieldset.input-group
      %label.col-sm-4.control-label='Role:'
      %input#sys-admin.pull-left{:name => "role", :type => "radio", checked: @user.system_administrator?, value: :system_administrator}
      %label.checkbox-right-label.pull-left="System Administrator"
      %span.ui-error="#{@errors[:system_administrator] if @errors[:system_administrator].present?}"
    %fieldset.input-group
      %label.col-sm-4.control-label='Role:'
      %input#researcher.pull-left{:name => "role", :type => "radio", checked: @user.researcher?, value: :researcher}
      %label.checkbox-right-label.pull-left="Researcher"
      %span.ui-error="#{@errors[:researcher] if @errors[:researcher].present?}"
  %fieldset#given-name-field.input-group
    %label.col-sm-4.control-label='Given/First Name:'
    %input{id: 'staff_first_name', name: 'user[first_name]', value: @user.first_name}
    %span.ui-required{title: 'Required'}='*'
    %span.ui-error="#{@errors[:first_name] if @errors[:first_name].present?}"
  %fieldset#family-name-field.input-group
    %label.col-sm-4.control-label='Family/Last Name:'
    %input{id: 'staff_last_name', name: 'user[last_name]', value: @user.last_name}
    %span.ui-required{title: 'Required'}='*'
    %span.ui-error="#{@errors[:last_name] if @errors[:last_name].present?}"
  %fieldset#email-field.input-group
    %label.col-sm-4.control-label='Email:'
    %input{id: 'staff_email', name: 'user[email]', value: @user.email}
    - if true # @school.has_flag?(School::USERNAME_FROM_EMAIL)
      %span.ui-required{title: 'Required'}='*'
    %span.ui-error="#{@errors[:email] if @errors[:email].present?}"
  %fieldset.input-group
    %label.col-sm-4.control-label='Street Address:'
    %input{id: 'staff_street_address', name: 'user[street_address]', value: @user.street_address}
    %span.ui-error="#{@errors[:street_address] if @errors[:street_address].present?}"
  %fieldset.input-group
    %label.col-sm-4.control-label='City:'
    %input{id: 'staff_city', name: 'user[city]', value: @user.city}
    %span.ui-error="#{@errors[:city] if @errors[:city].present?}"
  %fieldset.input-group
    %label.col-sm-4.control-label='State:'
    %input{id: 'staff_state', name: 'user[state]', value: @user.state}
    %span.ui-error="#{@errors[:state] if @errors[:state].present?}"
  %fieldset.input-group
    %label.col-sm-4.control-label='Zip Code:'
    %input{id: 'staff_zip_code', name: 'user[zip_code]', value: @user.zip_code}
    %span.ui-error="#{@errors[:zip_code] if @errors[:zip_code].present?}"

  %fieldset.text-center
    %input{type: :hidden, name: 'user[school_id]', value: @user.school_id}
    %button#btn-dismiss.btn.btn-default{"data-dismiss" => "modal", type: "button"}='Cancel'
    %button#btn-save.btn.btn-primary{name: 'commit', value: 'update_staff', type: "submit"}='Save'
