
- content_for(:title, 'System Administrator Home Page')
- content_for(:page_name, 'System Administrator Home Page')
- content_for(:page_class, 'misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :system_admin_home_page, @system_administrator
  = help_gen_breadcrumbs
/ - content_for :header_contextual_dropdown do
/   %li
/     .alert.alert-danger.alert-alt
/       %a{href: "#{edit_user_path(current_user)}"}
/         %i.fa.fa-cog.fa-fw.pull-right
/         System Admin Emergency Power
/   %li
/     %div
/       %a{href: "#{edit_user_path(current_user)}"}
/         %i.fa.fa-cog.fa-fw.pull-right
/         System Admin Extra Action

/ Header
.header-block
  %h1.h3.page-title
    %strong='Home Page'
  %h2.h1.page-title
    %strong="System Administrator: #{@system_administrator.full_name}"
  - si_time = (@system_administrator.current_sign_in_at.nil?) ? 'Never' : @system_administrator.current_sign_in_at.strftime('%d-%b-%Y %I:%M:%S %p')+' GMT'
  %span.height-30="(Latest signin time at: #{si_time})"

.header-block
  - if @current_school.id.nil?
    %h2.h1.page-title.text-center
      %strong.red="Please Choose a School"
.row
  .col-sm-3.col-lg-3
    #overall.block.block-alt-style.full
      =render('system_administrators/system_maintenance')
  .col-sm-9.col-lg-9
    - if can?(:switch, School)
      =render('schools/listing')
