
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      ="Hello #{@user.full_name},"
    %p
      ="Welcome to the #{@school.name} #{@server_config.server_name}."
      %br
      ="The link to the #{@server_config.web_server_name} for #{@school.name} is #{@server_config.url}."
      %br
      ="Your username is : #{@user.username}"
      %br
      ="Your temporary password is : #{@user.temporary_password}  (you will be asked to change it to your own personal secure password when you first log in)"
    %p
      ="If you have any problems, please see #{@server_config.school_support_team} for assistance and they will work with the #{@server_config.support_team} to resolve any issues."
    %p
      ="Thanks for joining and have a great day!"
      %br
      ="Sincerely,"
      %br
      ="#{@server_config.support_team}"
      %br
