
="Hello #{@user.full_name},"
="=============================================="
=""
="Welcome to #{@server_config.server_name}."
="The link to #{@server_config.web_server_name} is #{@server_config.server_url}."
="Your username is : #{@user.username}"
="Your temporary password is : #{@user.temporary_password}  (you will be asked to change it to your own personal secure password when you first log in)"
=""
="If you have any problems, please see #{@server_config.support_team} for assistance."
=""
="Thanks for joining and have a great day!"
="Sincerely,"
="#{@server_config.support_team}"
