<%= javascript('confirm_exit')  %>
<%= form_for(@counselor) do |f| %>
<table>
  <tr>
    <td><%= f.label        :school_id %></td>
    <td><%= f.select(      :school_id, @schools.collect { |a| [a.name, a.id] }) %> </td>
  </tr>
  <%= f.fields_for :role do |g| %>
    <%= g.fields_for :user do |h| %>
      <tr>
        <td><%= h.label      :first_name %></td>
        <td><%= h.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= h.label      :last_name  %></td>
        <td><%= h.text_field :last_name  %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan=2><%= f.submit %></td>
  </tr>
</table>
<% end %>