- unless user_signed_in?
  = form_for("user", :url => user_session_path) do |f|
    .center-block{style: 'width: 400px'}
      .row
        .col-sm-6= f.label :username
        .col-sm-6= f.text_field :username , :size=>'15',:maxlength=>'32'
      .row
        .col-sm-6= f.label :password
        .col-sm-6= f.password_field :password , :size=>'15', :maxlength=>'32'
      .row
        .col-sm-12.text-center= f.submit "Sign in"
