
- content_for(:title, 'Account Activity Report')
- content_for(:page_name, 'Account Activity Report')
- content_for(:page_class, 'generate-reports misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :acct_activity
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong="Generate Reports"
  %h2.h1.page-title
    %strong="Account Activity"
  .row
    %a#filter-button.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-filter
    %a#print-button.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-print
    %a#download-button.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-download
  .row
    %table.table
      %thead
        %tr
          %th='Subject'
          %th='Sections'
          %th='Learning Outcomes'
      %tbody
        %tr
          %td='All'
          %td='All'
          %td='All'
.row
  .col-md-12
    .block.block-alt-style.full
      .block-content-full.rounded-title-container
        %table.titled-table.table.table-bordered.table-condensed.remove-margin
          %thead.table-title
            %tr
              %th Last Name
              %th First Name
              %th Username
              %th Temporary Password
              %th Sign In Count
              %th Last Sign In At
          %tbody
            - @users.each do |user|
              %tr{id: "user_#{user.id}"}
                %td= user.last_name
                %td= user.first_name
                %td= user.username
                %td.text-center{id: "user_#{user.id}_password"}= set_temporary_password(user, false)
                %td= user.sign_in_count
                %td= user.last_sign_in_at
