= form_for @user do |f|
  %table
    %tr
      %td= f.label :password, "New Password: "
      %td= f.password_field :password
    %tr
      %td= f.label :password_confirmation, "Confirm New Password"
      %td= f.password_field :password_confirmation
    %tr
      %td{colspan: 2}
        %input{type: 'hidden', id: 'email', name: "user[email]"}
          = @user.email

        = f.submit "Change Password"
