
- content_for(:title, 'Section Bulk Entry')
- content_for(:page_name, 'Section Bulk Entry')
- content_for(:page_class, 'misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :section_bulk_entry
  = help_gen_breadcrumbs

/ Header
.header-block
  %h1.h3.page-title
    %strong="Maintenance"
  %h2.h1.page-title
    %strong="Section Bulk Entry"

.block-section.indent-block
  .row.height-30
    .pull-left
      %a.btn.btn-sm.btn-primary{href: "javascript:void(0)", title: 'Print'}
        %i.fa.fa-lg.fa-print
      %a.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
        %i.fa.fa-lg.fa-download

.row
  .col-sm-12
    .block.block-alt-style.full
      .block-content-full.rounded-title-container
        = form_tag(update_bulk_sections_path) do
          .row.text-center
            %button#save.text-button{type: 'submit'}='SAVE'
          .row.text-center
            %span.ui-error='WARNING: THIS CAN BE DONE ONCE ON A SUBJECT, WITH NO PRE-EXISTING SECTIONS.'
          %table.titled-table.table.table-bordered.table-condensed.remove-margin
            %thead.table-title
              %tr
                %th= 'Subject Name'
                %th{colspan: 20}= '* enter the section IDs that exist for each subject'
            %tbody.tbody-body
              - @subjects.each_with_index do |subj, row|
                - prior_section_lines = @prior_sections_by_subject_id[subj.id]
                %tr{id: "subject_#{subj.id}", name: "subject[#{subj.id}]", :class => ('field_with_errors' if subj.errors.count > 0) }
                  %td=subj.name
                  - 20.times do |col|
                    %td
                      %input.input-section-grid{name: "section[#{row}][#{col}][value]", id: "section_#{row}_#{col}_value", value: (prior_section_lines.present? && prior_section_lines[col].present?) ? prior_section_lines[col] : ''}
                      = hidden_field_tag "section[#{row}][#{col}][id]", ''
                      = hidden_field_tag "section[#{row}][#{col}][subject_id]", subj.id.to_s
          .row.text-center
            %button#save.text-button{type: 'submit'}='SAVE'
          .row.text-center
            %span.ui-error='WARNING: THIS CAN BE DONE ONCE ON A SUBJECT, WITH NO PRE-EXISTING SECTIONS.'
