<div id="popup_form">
  <h3>Available Section Reports</h3>
  <ul id="other_options">
    <li data_template="sections/reports/section_summary_outcome" data_url="sections/{{current_section_id}}.json"><a>Section Summary by Outcome</a></li>
    <li data_template="sections/reports/section_summary_student" data_url="sections/{{current_section_id}}.json"><a>Section Summary by Student</a></li>
    <li data_template="sections/reports/nyp_by_student" data_url="sections/{{current_section_id}}.json?nyp_by_student=t"><a>NYP by Student</a></li>
    <li data_template="sections/reports/nyp_by_outcome" data_url="sections/{{current_section_id}}.json?nyp_by_outcome=t"><a>NYP by Outcome</a></li>
    <li data_template="sections/reports/student_accounts" data_url="sections/{{current_section_id}}.json"><a>Student Account Information</a></li>
    <li data_template="sections/reports/progress_reports" data_url="sections/{{current_section_id}}.json"><a>Student Progress Reports</a></li>
  </ul>
</div>