
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      ="Message: #{e.message}"
    %p
      ="Exception: #{e.exception}"
    %p
      ="Cause: #{e.cause}"
    %p
      ="Backtrace: #{e.backtrace}"
    %p
      ="Inspect: #{e.inspect}"
