.row.indent-row
  .col-sm-12.col-lg-12
    .block.block-alt-style.full
      .block-content-full.rounded-title-container
        %table.titled-table.table.table-bordered.table-condensed.remove-margin
          %thead.table-title
            %tr
              %th= 'School Name'
              %th= 'Acronym'
              %th= 'City / Town'
              %th= 'School Year'
              %th{colspan: 5}= ''
          %tbody.tbody-body.alternate-highlight
            - @schools.each do |school|
              %tr{id: "school-#{school.id}"}
                %td.school-name
                  / = link_to school.name, school
                  = school.name
                %td.school-acronym=school.acronym
                %td.school-city=school.city
                - if school.school_year
                  %td.school-year=school.school_year.name
                - else
                  %td.school-year=''
                %td.text-center
                  - if can? :switch, school
                    %a{href: school_path(school.id), title: "Make '#{school.acronym} - #{school.name}'' curent school"}
                      %i.fa.fa-lg.fa-building-o
                %td.text-center
                  - if can? :dashboard, school
                    %a{href: dashboard_school_path(school.id), title: 'School Dashboard'}
                      %i.fa.fa-lg.fa-dashboard
                %td.text-center
                  - if can? :edit, school
                    %a{data: {target: "#modal_popup", toggle: 'modal', url: edit_school_path(school.id, format: :js)}, title: 'Edit School'}
                      %i.fa.fa-lg.fa-edit
                %td.text-center
                  - if can?(:new_year_rollover, school)
                    - if @model_school && (@model_school.school_year.starts_at.year > school.school_year.starts_at.year || @model_school.id == school.id)
                      - # model school year is after the current school year - rollover is available
                      %a{id: "rollover-#{school.id}", href: new_year_rollover_school_path(school.id), data: {method: :post, confirm: "Are you sure you want to rollover to year '#{school.school_year.starts_at.year+1}-#{school.school_year.ends_at.year+1}'?"}, title: 'Rollover to New Year'}
                        %i.fa.fa-lg.fa-forward
                    - else
                      - # rollover is not available now
                      %a.dim.arrow-cursor{id: "rollover-#{school.id}", href: 'javascript:void(0)', title: 'Rollover to New Year'}
                        %i.fa.fa-lg.fa-forward
                %td.text-center
                  - if school.acronym == 'MOD' && can?(:switch, school) && can?(:upload_lo_file, SubjectOutcome) && school.has_flag?(School::GRADE_IN_SUBJECT_NAME)
                    %a{href: upload_lo_file_subject_outcomes_path, title: 'Upload Learning Outcomes'}
                      %i.fa.fa-lg.fa-lightbulb-o
                      %i.fa.fa-lg.fa-upload
