
="Hello #{@student.full_name},"
="=============================================="
=""
="You have a new piece of evidence for your #{@section.name} - #{@section.line_number} class."
=""
="Please go to #{@tracker_url} to view it."
=""
="Thanks for using Tracker and have a great day!"
=""
="Sincerely,"
="#{@email_from_name}"
