
- content_for(:title, 'Attendance Report')
- content_for(:page_name, 'Attendance Report')
- content_for(:page_class, 'generate-reports misc')
- content_for :layout_breadcrumbs do
  - breadcrumb :root # to ensure breadcrumbs always show
  - breadcrumb :rpt_attend
  = help_gen_breadcrumbs

- types_empty_hash = Hash.new
- @attendance_types.each do |at|
  - types_empty_hash[at.id] = 0

/ Header
.header-block
  %h1.h3.page-title
    %strong="Generate Reports"
  %h2.h1.page-title
    %strong="Attendance Report"
  .row
    %a#filter-button.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-filter
    %a#print-button.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-print
    %a#download-button.btn.btn-sm.btn-primary.deactivated.arrow-cursor{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-download
    %a#collapse-all-groups.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-caret-right
    %a#expand-all-groups.btn.btn-sm.btn-primary{href: "javascript:void(0)"}
      %i.fa.fa-lg.fa-caret-down
  .row
    %table.table
      %thead
        %tr
          %th='Subject'
          %th='Sections'
          %th='Date Range'
      %tbody
        %tr
          %td=@subject.name
          %td=''
          %td="#{@start_date} thru #{@end_date}"
.row.report-body
  .col-md-12
    .block.block-alt-style.full
      .block-content-full.rounded-title-container
        %table.titled-table.table.table-bordered.table-condensed.remove-margin.expand-collapse-tbody
          %thead.table-title
            %tr
              %th{colspan: "#{3 + @attendance_types.length}"}
                %i.fa.fa-check
                ='Attendance Report'
            %tr
              %th= 'ID'
              %th= 'Student Name'
              - @attendance_types.each do |at|
                %th=at.description
          - last_student_id = 0
          - last_student_xid = 0
          - last_student_name = ''
          - by_type = types_empty_hash.clone

          - @attendances.each do |a|
            - if last_student_id != a.user_id && last_student_id != 0
              =render partial: 'student_attendance_break', locals: {student_id: last_student_id, xid: last_student_xid, name: last_student_name, by_type: by_type}
              - by_type = types_empty_hash.clone
            - last_student_id = a.user_id
            - last_student_xid = a.student.xid
            - last_student_name = a.student.full_name
            - by_type[a.attendance_type_id] += 1
          =render partial: 'student_attendance_break', locals: {student_id: last_student_id, xid: last_student_xid, name: last_student_name, by_type: by_type}

