%div.entry
  %h3
    = I18n.translate('action_titles.create')
    = I18n.translate('models.attendance.name')
    \-
    = @school_name
  = render 'form'
  %div.entry_links
    = link_to I18n.translate('action_titles.list'), attendances_path
    \|
    = link_to I18n.translate('navigations.dashboard.title'), current_user