!!!
/[if IE 8]>  <html class="no-js lt-ie9 pre_ie10"> <![endif]-->
/[if lt IE 10] <html class="no-js pre_ie10">
/ [if gt IE 9]><!
%html.no-js.standard
  / <![endif]
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Tracker UI"
    %meta{content: content_for?(:page_name) ? yield(:page_name) : "Tracker UI", name: "page_name"}/
    %meta{content: "noindex, nofollow", name: "robots"}/
    %link{rel: "shortcut icon", href:"/favicon.ico"}
    = javascript_tag "var AUTH_TOKEN      = '#{form_authenticity_token}';"
    = javascript_tag "var CURRENT_USER_ID = '#{current_user.id if current_user}';"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag :application
    = yield(:head) # is this needed? - see application_helper.rb  javascript(*files)
    = csrf_meta_tag
  %body{style: 'min-width:980px; width:auto !important; width:980px;'}
    #page-container.header-fixed-top.sidebar-no-animations{class: (@show_toolkit == 'true' ? 'sidebar-visible-lg' : '')}
      .spinner
        .fa.fa-spinner.fa-spin.fa-4x
      / Main (left) Sidebar
      #sidebar
        .sidebar-scroll
          / RENDER Sidebar Content
          .sidebar-content= render 'layouts/sidebar'
      #main-container
        / RENDER Header
        %header.navbar.navbar-default.navbar-fixed-top= render 'layouts/header'
        / Page content
        #page-content.tracker-page{class: (content_for?(:page_class) ? yield(:page_class) : "")}
          =yield
        / No Footer
        / %footer.clearfix
    / Scroll to top link, initialized in js/app.js - scrollToTop()
    %a#to-top{href: "#"}
      %i.fa.fa-angle-double-up
    = render 'layouts/modal_popup'
    = render 'layouts/positioned_popup'
